body{
	background: white;
	margin: 0px;
	padding: 0px;
	/*border: 10px solid black;*/
}

header{
	padding: 10px;
	cursor: pointer;
}

#headerlogo{
	width: 100px;
	display: inline;
	float: left;
	padding: 5px;
}

h1{
	font-family: 'Raleway', sans-serif;
	font-size: 35px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 20px;
}

h2{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 20px;
}

#headertext{
	padding-left: 15px;
	display: inline;
	float: left;
	max-width: 50%;
}

nav{
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	position: absolute;
	right: 50px;
	margin-top: 10px;
}

nav a:hover{
	color: grey;
}

nav a{
	text-decoration: none;
	color: black;
	padding-left: 35px;
}

.abouthead, .resumehead{
	width: 60%;
	margin-left: 50%;
	transform: translateX(-50%);
}

#resumeEmbed{
	width: 70%;
	max-width: 600px;
	/*height: 1000px;*/
	margin-left: 50%;
	transform: translateX(-50%);
	margin-bottom: 20px;
}

h3{
	font-family: 'Raleway', sans-serif;
	font-size: 35px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 150px;
}

a{
	text-decoration: none;
	color: black;
	font-weight: 700;
}

.abouttext{
	width: 55%;
	margin-left: 50%;
	min-width: 600px;
	transform: translateX(-50%);
	border: 5px solid black;
	padding: 10px 30px;
	margin-top: 10px;
	margin-bottom: 40px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	/*height: 380px;*/
}

.abouttext p{
	width: 60%;
}

#aboutpic{
	width: 300px;
	position: absolute;
	/*top: -30px;*/
	right: -40px;
}

.resume{
	padding: 0px 10px;
	margin: auto;
	font-family: 'Roboto', sans-serif;
	max-width: 1080px;
}

.resume h4{
	/*text-decoration: underline;*/
	border-bottom: 5px black solid;
	font-size: 18px;
}

.resume h5{
	font-size: 16px;
	font-weight: 700;
	margin: 5px 0px;
	padding-top: 10px;
}

.title{
	font-size: 16px;
	font-weight: 700;
	margin: 5px 0px;
	float: left;
}
.company{
	font-size: 14px;
	font-weight: 700;
	/*margin: 5px 0px;*/
	clear: left;
}

.fellow{
	float: left;
	margin: 5px 0px;
	font-size: 14px;
}

ul{
	float: left;
	margin: 5px 0px;
	font-size: 12px;
}
ul li{
	margin-top: 5px;
}

.section{
	margin-top: 20px;
	overflow: auto;
}

.preg{
	font-size: 15px;
	float: left;
	margin: 5px 0px;
}

.pleft{
	float: right;
	font-size: 15px;
	font-weight: 300;
	color: grey;
	margin: 5px 0px;
}

.left{
	float: left;
	width: 29%;
	text-align: right;
	padding: 10px;
}

.right{
	width: 65%;
	padding: 10px;
	float: right;

}

footer{
	margin-top: 50px;
	clear: both;
}

#icons{
	text-align: center;
	padding-bottom: 10px;
}

i{
	margin: 0px 10px 0px 10px;
}

i:hover{
	color: grey;
}


#hamburgermenu{
  display: block;
  position: absolute;
  top: 40px;
  right: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  visibility: hidden;
}

input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

span{
	display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #000;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

/*.title{
	width: 60%;
	margin-left: 50%;
	transform: translateX(-50%);
 	font-family: 'Roboto', sans-serif;
 	font-weight: 700;
 	font-size: 18px;
 }*/

 hr{
 	margin-top: 30px;
 	height: 10px;
 	border: none;
 	background-color: black;
 }

 button{
 	background-color: white;
 	border-width: 5px;
 	border-color: black;
 	font-style: 'Raleway', sans-serif;
 	text-align: center;
 	font-size: 16px;
 	padding: 10px;
 	cursor: pointer;
 	margin-left: 50%;
 	transform: translateX(-50%);
 	font-weight: 700;
 	margin-bottom: 10px;
 }

 #resumeSec{
 	padding-top: 20px;
 	/*padding: 20px;*/
 	width: 90%;
 	/*height: 100%;*/
 	max-width: 900px;
 	/*margin: 0;*/
 	/*border-width: 5px;
 	border-style: solid;*/
 	font-family: 'Raleway', sans-serif;
 	margin-left: 50%;
 	transform: translateX(-50%);
 	/*background: pink;*/
 }

 #resumeSec:after{
 	clear: both;
 	content: "";
 	display: table;
 }

 .reshead{
 	font-weight: 700;
 	font-size: 18px;
 	text-transform: uppercase;
 }

 .leftcolumn{
 	height: 100%;
	width: 20%;
	float: left;
	padding: 15px;
	margin: 0;
	/*border-width: 5px;*/
 	/*border-style: solid;*/
 }

 .rightcolumn{
 	height: 100%;
 	padding: 15px;
 	margin: 0;
	width: 70%;
	float: right;
	/*background: yellow;*/
	/*border-width: 5px;*/
 	/*border-style: solid;*/
 }

 .leftdate{
 	margin-top: -35px;
	float: right;
 }

 .reshead2,.skills,.leftdate,.eduContent,.expContent,.expTitle{
 	font-family: 'Roboto', sans-serif;
 }

 .reshead2, .leftdate{
 	font-weight: 700;
 }

 .skillssection{
 	float: right;
 	width: 100%;
 	text-align: right;
 	overflow: auto;
 	padding-bottom: 10px;
 }

 .skilltitle{
 	font-size: 16px;
 	font-weight: 700;
 	clear: right;
 	text-align: right;
 	margin: 5px 0px;
 	padding-top: 5px;
 	
 }

 .skillssection ul{
 	 float: right;
 }


@media only screen and (max-width: 850px) {
    /*Hamburger menu*/
    h1{
    	padding-top: 5px;
    	font-size: 20px;
    }
    
    h2{
    	font-size: 15px;
    }

    #headerlogo{
		width: 50px;
	}

	.abouttext{
		width: 80%;
		min-width: 200px;
		min-height: 380px;
		height: 100%;
	}

	.abouttext p{
		width: 100%;
	}
	#aboutpic{
		float: right;
		position: relative;
		width: 40%;
		max-width: 250px;
		min-width: 150px;
		/*top: 10px;*/
		/*right: 10px;*/
	}
	#headertext{
		padding-left: 0px;
	}
	#headertext h1, #headertext h2{
		font-size: 12px;
	}

}
/*resume correct*/
@media only screen and (max-width: 1000px) {
	.resume{
		padding: 0px 100px;
	}

	.right{
		clear: both;
		width: 100%;
	}

	.left{
		clear: both;
		width: 100%;
		text-align: left;
	}

	.skillssection, .skilltitle{
		clear: both;
		text-align: left;
	}

	 .skillssection ul{
		clear: both;
		float: left;
		padding: 0px;
	}
}

/*Hamburger Menu*/
@media only screen and (max-width: 650px) {
	.resume{
		padding: 0px 10px;
	}

	#hamburgermenu{
		visibility: visible;
	}

	nav{
		display: block;
		width: 80px;
		margin: 0;
		text-align: right;
		top: 35px;
		right: 5px;
		padding: 35px 15px 15px 15px;
		visibility: hidden;
	}

	nav a{
		padding: 0px;
		line-height: 30px;
	}


	input:checked ~ span
	{
	  opacity: 1;
	  transform: rotate(45deg) translate(-17.5px, -20px);
	  background: #232323;
	}

	input:checked ~ span:nth-last-child(3)
	{
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}

	input:checked ~ span:nth-last-child(2)
	{
	  transform: rotate(-45deg) translate(0, -0px);
	}
}