/*.proj1texthover{
	color: #48c2f3;
}

.proj1textnon, .proj2textnon, .proj3textnon{
	color:black;
}

.proj2texthover{
	color: #fa6f55;
}

.proj3texthover{
	color: #3475ab;
}*/


/*.content:hover{
	animation: animate 0.3s linear forwards;
}*/

@keyframes animate {
	0%{
		border-top: 5px solid black;
	}
	50%{
		border-top: 5px solid black;
		border-left: 5px solid black;
	}
	100%{
		border-top: 5px solid black;
		border-left: 5px solid black;
		border-bottom: 5px solid black;
	}
}